<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Song Uploader</title>
  </head>
  <body style="max-width: 800px; margin: auto; padding-top: 1em;">
    <%= Templates.dir_header %>
    <h1>Song Upload</h1>
    <%- if error -%>
      <div>Error while uploading: <%= error %></div><br />
    <%- elsif song_id -%>
      <div>Uploaded successfully! Song ID: <b><%= song_id %></b></div><br />
    <%- end -%>

    <%- if disabled -%>
      <b>Custom songs have been disabled</b><br><br>
    <%- end -%>

    <form action="/tools/song_upload" method="post">
      URL: <input type="text" id="url" name="url" <%= disabled ? "disabled" : "" %> />
      <input type="submit" value="Submit" <%= disabled ? "disabled" : "" %>  />
    </form>
  </body>
</html>
